*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f4f4;
}

#login-box{
    width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    padding: 20px 50px;
}
#login-box h1{
    color: #151313;
}
#login-box .form .item input{
    margin-top: 15px;
}
#login-box .form i{
    font-size: 18px;
    color: #fff;
}
#login-box .form .item input {
    width: 300px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid#fff;
    padding: 5px 10px;
    background:#ffffff00;
    color: #1a1818;
}
#login-box button{
    margin-top: 15px;
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #01fdcb;
    border: 0;
    border-radius: 15px;
}